<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>379848B3-D44A-412A-BAB4-663499D1A149</string>
			<string>3DB7E9B8-571E-46F1-8FE8-1DB6A8354B9F</string>
			<string>------------------------------------</string>
			<string>61496510-2E8D-405A-A6FF-B676117DCCE5</string>
			<string>1E2C010F-706B-406F-88DC-41250E86E0F8</string>
			<string>------------------------------------</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Aphid</string>
	<key>ordering</key>
	<array>
		<string>2359D905-89D1-4C5D-A7F5-853B277D8BC8</string>
		<string>379848B3-D44A-412A-BAB4-663499D1A149</string>
		<string>3DB7E9B8-571E-46F1-8FE8-1DB6A8354B9F</string>
		<string>61496510-2E8D-405A-A6FF-B676117DCCE5</string>
		<string>1E2C010F-706B-406F-88DC-41250E86E0F8</string>
		<string>35BB9CBD-9102-49FD-8FA3-BBD75D7D074B</string>
		<string>9AB9585F-3A11-4350-88E3-123FD2FAC03F</string>
		<string>E1A756A0-8A1E-4E2A-AB42-582312A865A2</string>
	</array>
	<key>uuid</key>
	<string>44AB785F-00C0-4A18-BC2D-942C51CD088F</string>
</dict>
</plist>
