*.pdoc.yaml
*.tmproj
.DS_Store
.rake_tasks
.rvmrc
Build/Packages
Documentation
Resources/Stylesheets/*.css
Resources/Stylesheets/**/*.css
Skeleton/Build/*
Skeleton/Resources/Stylesheets/*.css
Skeleton/Resources/Stylesheets/**/*.css
