*.pdoc.yaml
*.tmproj
.DS_Store
.rake_tasks
.rvmrc
Resources/Stylesheets/*.css
Resources/Stylesheets/**/*.css
#Build
Build/Aphid.css
Build/Aphid.Combined.js
Build/Images
Demo/JavaScripts/Aphid*.js
Demo/Stylesheets/Aphid*.css
Documentation
Templates/JavaScripts
Templates/Stylesheets
