*.pdoc.yaml
*.tmproj
.DS_Store
.rake_tasks
.rvmrc
#Build
Build/Aphid.css
Assets/Stylesheets/*.css
Assets/Stylesheets/**/*.css
Demo/JavaScripts/Aphid*.js
Demo/Stylesheets/Aphid*.css
Documentation
Build/Aphid.Combined.js
