
/* Segmented Control ------------------------------------------------------ */

ul.SegmentedControl
{
  display: block;

  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;

  background-color: #aaa;
  .linear-gradient(#bbb, #888);

  .border-radius(3px);

  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.1);

  height: 2em;
  line-height: 2em;

  li
  {
    float: left;
    line-height: inherit;
    height: inherit;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5) !important;
    padding-right: 1em;
    padding-left: 1em;

    border-left: 0.1em solid rgba(255, 255, 255, 0.3);
    border-right: 0.1em solid rgba(0, 0, 0, 0.2);

    &:first-of-type
    {
      -webkit-border-top-left-radius: 2px;
      -webkit-border-bottom-left-radius: 2px;
      border-left: none;
      border-right: 0.1em solid rgba(0, 0, 0, 0.2);
    }
    &:last-of-type
    {
      -webkit-border-top-right-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
      border-left: 0.1em solid rgba(255, 255, 255, 0.3);
      border-right: none;
    }

    &:hover
    {
      -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
      background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                        -moz-linear-gradient(top, #90c130, #618e0c);
      background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                        -ms-linear-gradient(top, #90c130, #618e0c);
      background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                        -o-linear-gradient(top, #90c130, #618e0c);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05))),
                        -webkit-gradient(linear, left top, left bottom, from(#90c130), to(#618e0c));
      background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                        linear-gradient(top, #90c130, #618e0c);
    }
  }
  li.selected,
  li:active
  {
    background-color: #618e0c;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                      -moz-linear-gradient(top, #618e0c, #90c130);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                      -ms-linear-gradient(top, #618e0c, #90c130);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                      -o-linear-gradient(top, #618e0c, #90c130);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05))),
                      -webkit-gradient(linear, left top, left bottom, from(#618e0c), to(#90c130));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                      linear-gradient(top, #618e0c, #90c130);
  }

  &:after
  {
    clear: both;
  }
}
