<!DOCTYPE html>

<html>
  <head>
    <title>Application Error</title>
    <link rel="stylesheet" href="../Stylesheets/Aphid.css" />
    <script src="../JavaScripts/Aphid.Combined.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body class="errorLayout">
    <section id="mainSection">
      <header>
        <h1><span class="status">500</span> Application Error</h1>
      </header>
      <section id="messageSection">

        <h2>An unexpected error has occurred</h2>
        <p>
          We have been alerted to the problem and will look into the issue as soon
          as possible. Please try your request again later...
        </p>

        <ul class="actions">
          <li><a href="/home">Return to LeadConduit</a></li>
          <li><a href="http://support.leadconduit.com/">View our Support Site</a></li>
          <li><a href="http://www.leadconduit.com/contact-us.php">Contact us</a></li>
        </ul>
      </section>
    </section>
  </body>
</html>
