
ul.ListView
{
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}

ul.ListView li
{
  margin: 0.2em;
  line-height: 3em;
  height: 3em;
  padding-left: 1em;
}

ul.ListView li:nth-of-type(even)
{
  background-color: #f3f4f5;
}

ul.ListView li.selected
{
  background-color: #336699;
  color: white;
}

ul.ListView li:hover .handle
{
  opacity: 0.15;
}

ul.ListView li:hover .handle:hover
{
  opacity: 0.25;
}

ul.ListView li .handle:active
{
  opacity: 0.50 !important;
}

ul.ListView .handle
{
  position: absolute;
  top: 0;
  right: 1em;
  height: inherit;
  width: 16px;
  background-image: url('../Assets/Images/UI/ListView/DragHandle.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.1;
}

ul.ListView li.selected .handle
{
  opacity: 0.35;
  background-image: url('../Assets/Images/UI/ListView/DragHandle.selected.png');
}

ul.ListView li.placeholder
{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  padding: 0;

  background-color: transparent;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
  color: #aaa;
}
