<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; Model.js &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>js</string>
	<key>keyEquivalent</key>
	<string>~@t</string>
	<key>name</key>
	<string>Model</string>
	<key>scope</key>
	<string>source.js.aphid</string>
	<key>uuid</key>
	<string>E1A756A0-8A1E-4E2A-AB42-582312A865A2</string>
</dict>
</plist>
