//
// Forms
//

fieldset
{
  display: block;
  padding: 1.7em;
  padding-left: 13.4em;
}

fieldset:nth-of-type(odd)
{
  background-color: #f3f4f5;
}

fieldset legend
{
  float: left;
  display: block;
  font-weight: bold;
  width: 10em;
  margin-left: -11.7em;
  line-height: 1.6em;
}

fieldset select
{
  width: 100%;
}

fieldset select.dynamic
{
  width: auto;
}

fieldset ul,
fieldset li
{
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset label,
fieldset input
{
  display: inline-block;
  line-height: 1.6em;
}

fieldset label
{
  width: 10em;
}

fieldset label.dynamic
{
  width: auto;
}

/* Standard Buttons ------------------------------------------------------- */

button,
input[type=button],
input[type=submit]
{
  outline: none;
  height: 32px;
  line-height: 30px;
  padding: 0 1em;
  border: none;

  color: rgb(95, 95, 95);
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);

  background-color: transparent;
  background-image: url("../Images/Gradients/Light.png");
  background-image: none, url("../Images/Gradients/Light.svg");
  .linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.15));

  .border-radius(2px);

  -webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25),
                      1px 1px 0px rgba(255, 255, 255, 1),
                      inset 2px 2px 0px rgba(255, 255, 255, 0.5),
                      inset -1px -1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25),
                   1px 1px 0px rgba(255, 255, 255, 1),
                   inset 2px 2px 0px rgba(255, 255, 255, 0.5),
                   inset -1px -1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25),
              1px 1px 0px rgba(255, 255, 255, 1),
              inset 2px 2px 0px rgba(255, 255, 255, 0.5),
              inset -1px -1px 0px rgba(0, 0, 0, 0.1);

  border: 1px solid rgb(195, 195, 195);
  border: 0px solid rgba(255, 255, 255, 0);

  &::-moz-focus-inner { border: 0; }

  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-transition-properties: none;
  -webkit-transition-duration: 0s;
  -moz-transition-properties: none;
  -moz-transition-duration: 0s;
  -o-transition-properties: none;
  -o-transition-duration: 0s;

  .icon, .label
  {
    line-height: 30px;
  }

  .icon
  {
    margin-left: -2px;
    padding-right: 8px;
    border-right: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    img {
      vertical-align: middle;
      margin-top: -2px;
    }
  }

  .label
  {
    padding-left: 8px;
    float: left;
    border-left: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:hover
  {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

button:active,
input[type=button]:active,
input[type=submit]:active,
button.on,
input[type=button].on,
input[type=submit].on
{
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("../Images/Gradients/Light Reversed.png");
  background-image: none, url("../Images/Gradients/Light Reversed.svg");
  .linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

button.disabled,
input[type=button].disabled,
input[type=submit].disabled
{
  opacity: 0.5;
  background-color: transparent;
  background-image: url("../Images/Gradients/Light.png") !important;
  background-image: none, url("../Images/Gradients/Light.svg") !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.15)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.15)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.15)) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.025)), to(rgba(0, 0, 0, 0.15))) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.15)) !important;
}

/* Destructive Buttons ---------------------------------------------------- */

button.destructive
{
  &:hover
  {
    background-color: rgb(196, 72, 72);
    background-color: rgba(184, 2, 0, 0.7);
    background-image: url("../Images/Gradients/Light.png");
    background-image: none, url("../Images/Gradients/Light.svg");
    .linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.15));
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25),
                        1px 1px 0px rgba(255, 255, 255, 1),
                        inset 2px 2px 0px rgba(255, 255, 255, 0.15),
                        inset -1px -1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25),
                     1px 1px 0px rgba(255, 255, 255, 1),
                     inset 2px 2px 0px rgba(255, 255, 255, 0.15),
                     inset -1px -1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25),
                1px 1px 0px rgba(255, 255, 255, 1),
                inset 2px 2px 0px rgba(255, 255, 255, 0.15),
                inset -1px -1px 0px rgba(0, 0, 0, 0.1);

  }
}

button.destructive:active,
button.destructive.on
{
  background-color: rgb(196, 72, 72);
  background-color: rgba(184, 2, 0, 0.7);
  background-image: url("../Images/Gradients/Light Reversed.png") !important;
  background-image: none, url("../Images/Gradients/Light Reversed.svg") !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0))) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
}
