//
// Forms
//

fieldset
{
  display: block;
  padding: 1.7em;
  padding-left: 13.4em;
}

fieldset:nth-of-type(odd)
{
  background-color: #f3f4f5;
}

fieldset legend
{
  float: left;
  display: block;
  font-weight: bold;
  width: 10em;
  margin-left: -11.7em;
  line-height: 1.6em;
}

fieldset select
{
  width: 100%;
}

fieldset select.dynamic
{
  width: auto;
}

fieldset ul,
fieldset li
{
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset label,
fieldset input
{
  display: inline-block;
  line-height: 1.6em;
}

fieldset label
{
  width: 10em;
}

fieldset label.dynamic
{
  width: auto;
}
