
@import "../Configuration";

/* Modal Views ------------------------------------------------------------ */

.ModalView
{
  position: absolute;
  left: 50%;
  top: 50%;

  overflow: hidden;
  z-index: @modal-z-index;

  height: 400px;
  width: 600px;

  margin-top: -200px;
  margin-left: -300px;

  background-color: black;
  border: 3px solid black;

  .border-radius(7px);

  -webkit-box-shadow: 0 0 48px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 48px rgba(0, 0, 0, 1);
  box-shadow: 0 0 48px rgba(0, 0, 0, 1);

  &.dialog
  {
    height: 300px;
    width: 500px;
  }

  .contentView
  {
    ul.actions
    {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 54px;
      background-color: rgba(255, 255, 255, 0.5);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      padding-right: 20px;
      padding-left: 20px;

      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -moz-border-radius-bottomright: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
      text-align: center;

      li
      {
        margin-top: 11px;
        &.left
        {
          float: left;
        }
        &.center
        {
          display: inline-block;
        }
        &.right
        {
          float: right;
        }

        button
        {
          position: relative;

          &.next
          {
            padding-right: 32px;
          }

          &.next:after
          {
            content: "»";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 36px;
            line-height: 30px;
            font-size: 150%;
            text-align: center;
          }
        }
      }
    }
  }
}
