
.PopoverView
{
  position: absolute;

  width: 200px;
  height: 40px;
  z-index: 1000;
  margin: 20px;

  border: 2px solid rgba(0, 0, 0, 0.9) !important;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  color: white;
  text-align: center;
  line-height: 40px;

  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);

  .triangle
  {
    position: absolute;
    top: 50%;
    left: 50%;

    width:0px;
    height:0px;

    margin-left: -14px;

    font-size: 0px;
    line-height: 0px;
  }

  .contentView
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.95)));

    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25);
  }
}

.PopoverView.top
{
  .triangle
  {
    top: auto;
    bottom: 0;
    margin-bottom: -15px;

    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.85);
  }
}

.PopoverView.bottom
{
  .triangle
  {
    top: 0;
    bottom: auto;
    margin-top: -15px;

    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid rgba(0, 0, 0, 0.85);
  }
}

.PopoverView.left
{
  .triangle
  {
    top: 50%;
    bottom: auto;
    right: 0;
    left: auto;
    margin-right: -15px;
    margin-top: -15px;

    border-left: 14px solid rgba(0, 0, 0, 0.85);
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
  }
}

.PopoverView.right
{
  .triangle
  {
    top: 50%;
    bottom: auto;
    right: auto;
    left: 0;
    margin-left: -15px;
    margin-top: -15px;

    border-right: 14px solid rgba(0, 0, 0, 0.85);
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
  }
}
